.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 500px;
    max-width: 100%;
    display: none;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    align-items: center;
    margin-top: 77px;
}

.slide img {
    max-width: 600px;
    max-height: 500px;
}

.slide.active {
    display: flex;

}

.slide.prev {
    left: 100px;
    width: 100%;
    z-index: 1;
}

.slide.next {
    right: -100px;
    width: 100%;
    z-index: 1;
}

.image1 {
    padding-right: 30px;
    border-radius: 20px;

}
.image3 {
    padding-left: 30px;
    border-radius: 20px;
}
